<div>
	<h2>Statistics</h2>
	<p><%= @invitations.size %> invitations | <%= @users.size %> users</p>
	<p><%= @latestSnippets.size %> snippets in <%= @snippets.size %> versions</p>
	<p><%= @snippets.size/@users.size %> snippets per user</p>
	<p><%= @comments.size %> comments</p>
</div>
