<h2>Invite people to Kogbox</h2>

<p>Enter an email address below, or several separated by commas.</p>

<%= form_tag %>

	<input name="recipient" id="recipient" type="text" style="width:200px;font-size:1.3em" />
	<input id="submit" type="submit" value="Send" />

</form>